## ** Configuration for Numpaar channel.
##
## See https://github.com/debug-ito/numpaar/wiki/Configuration-file for detail.
##
## - engine MODULE_NAME, ARGS...;
##
## an 'engine' directive adds an engine to Numpaar. An engine is a
## Perl module that inherits Numpaar::Engine. Note that plain
## Numpaar::Engine is added to Numpaar by default.
## 
## MODULE_NAME is the name of the Perl module under Numpaar::Engine::,
## which will be loaded, instantiated and added to the channel.
## 
## ARGS will be supplied as arguments to the object's constructor
## (new() method).
##

engine 'DebugIto::Liferea';
engine 'DebugIto::GIMP';
engine 'DebugIto::Thunar';
engine 'DebugIto::Totem_DVD';
engine 'DebugIto::Totem';


## - extern_program PROGRAM_NAME1, PATH1, PROGRAM_NAME2, PATH2, ...;
##
## an 'extern_program' directive specifies a path to an external
## program that is used by some Numpaar engines.
##
## PROGRAM_NAME is the name of the external program that is used by
## Numpaar internally.
##
## PATH is the path to the executable of the external program.
##
## You can specify any number of PROGRAM_NAME, PATH pairs.

extern_program 'xdotool', '/usr/local/bin/xdotool';
extern_program 'file-manager', "/usr/bin/thunar";

## - directory DIR_NAME, PATH;
##
## a 'directory' directive specifies a directory path that is used by
## some Numpaar engines.
##
## DIR_NAME is the name (or ID) of the directory that is used by
## Numpaar internally.
##
## PATH is the actual path to the directory.
## 
## You can specify any number of DIR_NAME, PATH pairs.

directory 'default', $ENV{HOME};


